{include="pclientes_public/header"}

<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <div class="page-header">
            <h1>Bienvenido a {$fsc->empresa->nombre}</h1>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-sm-10">
         <div class="well">
            <p class="help-block">
                {if="$fsc->welcome_text"}
               {$fsc->welcome_text}
               {/if}
            </p>
         </div>
      </div>
      <div class="col-sm-2">
         <div class="thumbnail hidden-xs">
            {if="file_exists(FS_MYDOCS.'images/logo.png')"}
            <img src="images/logo.png" alt="{$fsc->empresa->nombre}"/>
            {elseif="file_exists(FS_MYDOCS.'images/logo.jpg')"}
            <img src="images/logo.jpg" alt="{$fsc->empresa->nombre}"/>
            {else}
            <img src="{#FS_PATH#}view/img/logo.png" alt="logo"/>
            {/if}
         </div>
      </div>
   </div>
</div>

{include="pclientes_public/footer"}
